.entertainment__title {
  margin-bottom: 40px;
}

.entertainment__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.card {
  position: relative;
  flex-basis: 380px;
  transition: transform 0.3s ease-in-out,
    box-shadow 0.3s ease-out;
}

.card__image {
  display: block;
}

.card__caption {
  position: absolute;
  left: 40px;
  bottom: 6px;
  max-width: 280px;
  height: 56px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.card:hover {
  z-index: 5;
  transform: scale(1.1);
  box-shadow: 0 0 4px 2px rgba(221, 221, 221, 0.7);
}

