.faq__title {
  margin-bottom: 50px;
}

.faq__item {
  position: relative;
  padding: 30px 70px;
  font-weight: 700;
  font-size: 24px;
  color: #1c1a1a;
  background-color: #fff;
}

.faq__item:after {
  content: "";
  position: absolute;
  right: 70px;
  top: 50%;
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url(../img/open-purple.svg);
  transform: translateY(-50%);
}

.faq__item:not(:last-child) {
  margin-bottom: 20px;
}

.faq__item:nth-child(odd) {
  background-color: #440f51;
  color: #fff;
}

.faq__item:nth-child(odd):after {
  background-image: url(../img/open.svg);
}