.faq__title {
  margin-bottom: 45px;
}

.faq__item:not(:last-child) {
  margin-bottom: 20px;
}

.accordion__control {
  border: 3px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  width: 100%;
  min-height: 87px;
  font-weight: 700;
  font-size: 24px;
  color: #1c1a1a;
  background-color: var(--color-white);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.accordion__control_bg_purple {
  color: var(--color-white);
  background-color: var(--color-jagger);
}

.circle {
  fill: transparent;
  stroke: var(--color-white);
  transition: fill 0.3s ease-in-out,
    stroke 0.3s ease-in-out;
}

.line {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

.circle_purple {
  fill: transparent;
  stroke: var(--color-jagger);
}

.line_purple {
  fill: var(--color-jagger);
}

.accordion__wrapper {
  height: 0;
  background-color: var(--color-white);
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}

.accordion__text {
  padding: 50px 73px;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
}

@media (min-width: 1025px) {
  .accordion__control:hover .circle {
    fill: var(--color-white);
    stroke: var(--color-white);
  }

  .accordion__control:hover .line {
    fill: var(--color-jagger);
  }
}

@media (min-width: 1025px) {
  .accordion__control:hover .circle_purple {
    fill: var(--color-jagger);
    stroke: var(--color-jagger);
  }

  .accordion__control:hover .line_purple {
    fill: var(--color-white);
  }
}

.accordion_active .line:first-of-type {
  fill: rgba(0, 0, 0, 0);
}

.accordion__control:focus-visible {
  border-color: var(--color-violet);
}

.accordion__control:active .circle {
  fill: transparent;
  stroke: var(--color-white);
}

.accordion__control:active .line {
  fill: var(--color-white);
}

.accordion__control:active .circle_purple {
  fill: transparent;
  stroke: var(--color-jagger);
}

.accordion__control:active .line_purple {
  fill: var(--color-jagger);
}

@media (max-width: 1024px) {
  .faq__title {
    margin-bottom: 26px;
  }

  .faq__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .accordion__control {
    padding: 0 22px;
    min-height: 70px;
    font-size: 20px;
    color: var(--color-black);
    background-color: var(--color-white);
  }

  .accordion__text {
    padding: 20px 22px;
    font-size: 18px;
  }

  .circle {
    stroke: var(--color-jagger);
  }
  
  .line {
    fill: var(--color-jagger);
  }

  .accordion__control:active .circle {
    stroke: var(--color-jagger);
  }
  
  .accordion__control:active .line {
    fill: var(--color-jagger);
  }

  .faq__item_desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .faq {
    padding-top: 25px;
  }

  .accordion__control {
    padding: 0 56px;
    min-height: 70px;
    font-size: 18px;
  }

  .accordion__text {
    padding: 30px 56px;
  }
}

@media (max-width: 600px) {
  .accordion__control {
    padding: 0 10px;
    font-size: 16px;
    text-align: left;
  }

  .accordion__text {
    padding: 20px 10px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .faq {
    padding-top: 33px;
  }

  .faq__title {
    margin-bottom: 15px;
  }

  .faq__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .accordion__control {
    padding: 0 10px;
    min-height: 46px;
    font-size: 12px;
  }

  .accordion__control svg {
    max-width: 30px;
    height: 30px;
  }

  .accordion__text {
    font-size: 12px;
  }
}









