.footer {
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.footer__title {
  margin-bottom: 50px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.footer__right {
  min-width: 680px;
}

.footer__list {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.footer__item address {
  padding-left: 50px;
  background-image: url('../img/location.svg');
  background-position: left;
  background-repeat: no-repeat;
  white-space: pre-line;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__item:first-child {
  margin-bottom: 40px;
}

.footer__link {
  border-radius: 10px;
  padding-left: 50px;
  background-position: left;
  background-repeat: no-repeat;
  outline: none;
  transition: color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.footer__link_icon_phone {
  background-image: url('../img/phone.svg');
}

.footer__link_icon_email {
  background-image: url('../img/envelope.svg');
}

@media (min-width: 1025px) {
  .footer__link:hover {
    color: var(--color-purple);
  }
}

.footer__link:focus-visible {
  box-shadow: 0 0 0 2px var(--color-violet);
}

.footer__link:active {
  color: var(--color-violet);
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 28px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .social__link:hover {
    color: var(--color-snuff);
  }
}

.social__link:focus-visible {
  color: var(--color-snuff);
  box-shadow: 0 0 0 1px var(--color-violet);
}

.social__link:active {
  color: var(--color-violet);
}

.footer__copy {
  display: flex;
  justify-content: space-between;
}

.copyright {
  max-width: 160px;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
}

.copyright__link {
  outline: none;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .copyright__link:hover {
    color: var(--color-purple);
  }
}

.copyright__link:focus-visible {
  color: var(--color-violet);
}

.copyright__link:active {
  color: var(--color-dark-purple);
}