.footer {
  padding-bottom: 21px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.footer__title {
  margin-bottom: 45px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
  gap: 40px;
}

.footer__right {
  width: max(680px, 50%);
}

.footer__list {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.footer__address {
  padding-left: 60px;
  font-style: normal;
  background-image: url('../img/location.svg');
  background-position: left;
  background-repeat: no-repeat;
  white-space: pre-line;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__item:first-child {
  margin-bottom: 46px;
}

.footer__link {
  padding-left: 60px;
  background-position: left;
  background-repeat: no-repeat;
  outline: none;
  transition: color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.footer__link_icon_phone {
  background-image: url('../img/phone.svg');
}

.footer__link_icon_email {
  background-image: url('../img/envelope.svg');
}

@media (min-width: 1025px) {
  .footer__link:hover {
    color: var(--color-purple);
  }
}

.footer__link:focus-visible {
  box-shadow: 0 0 0 2px var(--color-violet);
}

.footer__link:active {
  color: var(--color-violet);
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 28px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .social__link:hover {
    color: var(--color-snuff);
  }
}

.social__link:focus-visible {
  color: var(--color-snuff);
  box-shadow: 0 0 0 1px var(--color-violet);
}

.social__link:active {
  color: var(--color-violet);
}

.footer__copy {
  display: flex;
  justify-content: space-between;
}

.copyright {
  max-width: 160px;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
  text-align: right;
}

.copyright__link {
  display: inline-block;
  margin-top: 6px;
  outline: none;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .copyright__link:hover {
    color: var(--color-purple);
  }
}

.copyright__link:focus-visible {
  color: var(--color-violet);
}

.copyright__link:active {
  color: var(--color-dark-purple);
}

.map {
  display: block;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 18px;
  }

  .footer__title {
    margin-bottom: 26px;
  }

  .footer__inner {
    margin-bottom: 95px;
  }

  .footer__right {
    width: max(542px, 50%);
  }

  .footer__list {
    margin-bottom: 40px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 6px;
  }
  
  .footer__item:first-child {
    margin-bottom: 46px;
  }

  .footer__address,
  .footer__link {
    padding-left: 40px;
  }

  .social__link {
    width: 38px;
    height: 38px;
  }

  .map {
    min-height: 274px;
  }

  .copyright__link {
    margin-top: 3px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 22px;
  }

  .footer__title {
    margin-bottom: 30px;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 146px;
    gap: 31px;
  }

  .footer__right {
    width: 100%;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__list {
    margin-bottom: 28px;
    text-align: center;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 27px;
  }
  
  .footer__item:first-child {
    margin-bottom: 32px;
  }

  .footer__address {
    padding-left: 0;
    background-position: 60px top;
    background-size: 26px 26px;
  }

  .footer__link {
    padding-left: 40px;
    background-size: 26px 26px;
  }

  .map {
    width: 100%;
    min-height: 337px;
  }

  .footer__inner {
    margin-bottom: 75px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-top: 5px;
  }

  .footer__title {
    margin-bottom: 15px;
  }

  .footer__inner {
    gap: 35px;
    margin-bottom: 63px;
  }

  .footer__list {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 18px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer__item:first-child {
    margin-bottom: 11px;
  }

  .footer__address {
    background-position: 33px top;
    background-size: 20px 20px;
  }

  .footer__link {
    padding-left: 26px;
    background-size: 20px 20px;
  }

  .social__item:not(:last-child) {
    margin-right: 21px;
  }

  .social__link {
    width: 29px;
    height: 29px;
  }

  .map {
    min-height: 194px;
  }

  .footer__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }

  .copyright {
    max-width: 135px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}