.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-size: 22px;
  font-weight: 400px;
  line-height: 50px;
  text-transform: uppercase;
  outline: none;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .nav__link:hover {
    color: var(--color-purple);
  }
}

.nav__link:focus-visible {
  color: var(--color-purple);
}

.nav__link:active {
  color: var(--color-dark-purple);
}

.header__btn {
  border: 3px solid var(--color-violet);
  border-radius: 10px;
  padding: 12px 48px;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-white);
  outline: none;
  transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .header__btn:hover {
    border-color: var(--color-purple);
    background-color: var(--color-purple);
  }
}

.header__btn:focus-visible {
  border-color: var(--color-purple);
  background-color: var(--color-purple);
}

.header__btn:active {
  border-color: var(--color-dark-purple);
  background-color: var(--color-dark-purple);
}