.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-btn {
  display: none;
  padding: 5px 0;
  color: var(--color-purple);
  outline: none;
  transition: color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .burger-btn:hover {
    color: var(--color-violet);
  }
}

.burger-btn:focus-visible {
  box-shadow: 0 0 0 1px var(--color-violet);
}

.burger-btn:active {
  color: #840aa3;
}

.burger-btn__icon,
.logo__img {
  display: block;
}

.nav__list {
  display: flex;
  gap: 40px;
  padding-bottom: 3px;
}

.nav__link {
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  outline: none;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .nav__link:hover {
    color: var(--color-purple);
  }
}

.nav__link:focus-visible {
  color: var(--color-purple);
}

.nav__link:active {
  color: var(--color-dark-purple);
}

.header__btn {
  border: 3px solid var(--color-violet);
  padding: 12px 29px;
  font-size: 22px;
  transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .header__btn:hover {
    border-color: var(--color-purple);
    background-color: var(--color-purple);
  }
}

.header__btn:focus-visible {
  border-color: var(--color-purple);
  background-color: var(--color-purple);
}

.header__btn:active {
  border-color: var(--color-dark-purple);
  background-color: var(--color-dark-purple);
}

@media (max-width: 1200px) {
  .logo__img {
    max-width: 87px;
    height: 55px;
  }

  .nav__list {
    gap: 20px;
  }

  .header__btn {
    padding: 10px 23px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .nav__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 900px) {
  .nav__list {
    flex-wrap: wrap;
    max-width: 300px;
    gap: 0 15px;
    padding: 0;
  }
  
  .nav__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 35px;
    padding-bottom: 27px;
  }

  .burger-btn {
    display: block;
  }

  .nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__btn {
    display: none;
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .burger-btn__icon {
    width: 39px;
    height: 20px;
  }

  .logo__img {
    max-width: 66px;
    height: 42px;
  }
}

@media (max-width: 320px) {

}