.hero {
  position: relative;
  padding-top: 20px;
  height: 893px;
}

.hero__title {
  position: relative;
  font-size: 132px;
  font-weight: 900;
  line-height: 150px;
  text-transform: uppercase;
}

.hero__title::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 61px;
  right: 0;
  display: block;
  width: 675px;
  height: 762px;
  background-image: url('../img/man.png');
  background-size: cover;
}

.hero__descr {
  padding-left: 100px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 50px;
}

.benefits {
  display: flex;
  gap: 43px;
  align-items: flex-end;
}

.benefits__item {
  max-width: 200px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.benefits__item-benefit {
  color: var(--color-violet);
  font-weight: 900;
  text-transform: uppercase;
}

.benefits__item-benefit_count {
  font-size: 100px;
  line-height: 141px;
}

.benefits__item-benefit_text {
  font-size: 75px;
  line-height: 106px;
}

.hero__benefits {
  margin-bottom: 150px;
}

.hero__btn {
  border-radius: 10px;
  padding: 25px 70px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  background-color: var(--color-purple);
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .hero__btn:hover {
    background-color: #840aa3;
  }
}

.hero__btn:focus-visible {
  background-color: #840aa3;
}

.hero__btn:active {
  background-color: var(--color-dark-purple);
}

.hero__down-btn {
  position: absolute;
  z-index: 50;
  left: 50%;
  bottom: 90px;
  border: 1px solid transparent;
  display: flex;
  color: var(--color-white);
  transform: translateX(-50%);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.hero__down-btn circle {
  fill: transparent;
  transition: fill 0.3s ease-in-out,
    stroke 0.3s ease-in-out;
}

.hero__down-btn rect {
  transition: fill 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .hero__down-btn:hover circle {
    fill: var(--color-white);
  }

  .hero__down-btn:hover rect {
    fill: var(--color-dark-purple);
  }
}

.hero__down-btn:focus-visible {
  border-color: var(--color-violet);
}

.hero__down-btn:active circle {
  fill: var(--color-violet);
  stroke: var(--color-violet);
}

.hero__down-btn:active rect {
  fill: var(--color-white);
}




