.reservation {
  background-color: var(--color-jagger);
}

.reservation__title {
  margin-bottom: 40px;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-form__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.reservation-form__group {
  border: none;
  display: flex;
  padding: 0;
  margin-bottom: 60px;
}

.reservation-form__group:last-of-type {
  margin-bottom: 40px;
}

.hall-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hall-btn {
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 11px 58px;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.hall-input:checked + .hall-btn {
  color: var(--color-white);
  background-color: var(--color-violet);
}

@media (min-width: 1025px) {
  .hall-btn:hover {
    border-color: var(--color-dark-purple);
    background-color: var(--color-snuff);
  }
}

.hall-input:focus-visible + .hall-btn {
  border-color: var(--color-dark-purple);
}

.hall-btn:active {
  color: var(--color-white);
  background-color: var(--color-purple);
  border-color: var(--color-white);
}

.reservation-form__inner {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  max-width: 1000px;
}

.reservation-form__group_1,
.reservation-form__group_2
 {
  justify-content: space-between;
  width: 100%;
}

.reservation-form__group_3 {
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 20px 50px;
}

.reservation-form__subgroup {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

.reservation-form__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.console,
.game {
  display: flex;
  align-items: center;
}

.console__input {
  margin-right: 12px;
  width: 27px;
  height: 27px;
  outline: none;
}

.console__input:focus-visible {
  outline: 1px solid var(--color-violet);
}

.game__checkbox {
  margin-right: 12px;
  width: 25px;
  height: 25px;
}

.game__checkbox:focus-visible {
  outline: 1px solid var(--color-violet);
}

.reservation-form__date {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 300px;
}

.date-input {
  height: 52px;
}

.date-input:focus-visible {
  outline: 2px solid var(--color-violet);
}

.personal-input {
  display: block;
  width: 300px;
  height: 52px;
}

.personal-input:focus-visible {
  outline: 2px solid var(--color-violet);
}

.personal-input::placeholder {
  padding-left: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.reservation-form__btn {
  border: 3px solid transparent;
  border-radius: 10px;
  align-self: flex-end;
  padding: 15px 62px;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-purple);
  background-color: var(--color-white);
  outline: none;
  transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .reservation-form__btn:hover {
    border-color: var(--color-purple);
    background-color: var(--color-snuff);
  }
}

.reservation-form__btn:focus-visible {
  border-color: var(--color-purple);
}

.reservation-form__btn:active {
  border-color: transparent;
  background-color: var(--color-snuff);
}




