.reviews__title {
  margin-bottom: 47px;
}

.reviews__item {
  display: flex;
  padding: 0 100px;
}

.reviews__image {
  position: relative;
  margin-right: 20px;
  min-width: 280px;
}

.reviews__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 140px;
  display: block;
  width: 100%;
  height: calc(100% - 38px);
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.reviews__image-avatar {
  display: block;
  margin-bottom: 10px;
}

.reviews__image-name {
  text-align: center;
}

.reviews__item-text {
  padding-top: 51px;
  max-width: 680px;
}

.reviews__slider-btn {
  top: 44%;
}

.reviews__slider-btn::after {
  font-size: 62px;
  color: var(--color-purple);
}

@media (max-width: 1024px) {
  .reviews__title {
    margin-bottom: 26px;
  }

  .reviews__image {
    margin-right: 39px;
    min-width: 172px;
  }
  
  .reviews__image::after {
    height: calc(100% - 47px);
  }

  .reviews__image-avatar {
    margin-bottom: 21px;
    width: 172px;
    height: 172px;
  }

  .reviews__image-name {
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__item-text {
    padding-top: 33px;
    max-width: none;
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__slider-btn {
    top: 39%;
  }

  .reviews__slider-btn::after {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .reviews__title {
    margin-bottom: 30px;
  }

  .reviews__image {
    margin-right: 14px;
    min-width: 153px;
  }
  
  .reviews__image::after {
    height: calc(100% - 38px);
  }

  .reviews__image-avatar {
    margin-bottom: 18px;
    width: 153px;
    height: 153px;
  }

  .reviews__image-name {
    font-size: 14px;
    line-height: 20px;
  }

  .reviews__item {
    padding: 0 64px;
  }

  .reviews__item-text {
    padding-top: 33px;
    max-width: none;
    font-size: 16px;
    line-height: 22px;
  }

  .reviews__slider-btn {
    top: 54%;
  }
}

@media (max-width: 600px) {
  .reviews__item {
    flex-direction: column;
    align-items: center;
    max-width: none;
    padding: 0;
  }

  .reviews__slider-btn {
    top: 40%;
  }
}

@media (max-width: 480px) {
  .reviews__title {
    margin-bottom: 12px;
  }

  .reviews__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    min-width: auto;
  }

  .reviews__image::after {
    left: 50%;
    max-width: 86px;
    height: calc(100% - 27px);
    transform: translateX(-50%);
  }

  .reviews__image-avatar {
    margin-bottom: 9px;
    max-width: 86px;
    height: 86px;
  }

  .reviews__item-text {
    padding-top: 16px;
    max-width: none;
    font-size: 12px;
    line-height: 16px;
  }

  .reviews__slider-btn {
    top: 14%;
  }

  .reviews__slider-btn::after {
    font-size: 30px;
  }
}