:root {
  --color-snuff: #eadeed;
  --color-violet: #cd06ff;
  --color-purple: #6c0287;
  --color-dark-purple: #640aa3;
  --color-jagger: #440f51;
  --color-dark: #1b1a1b;
  --color-black: #000;
  --color-white: #fff;
}